
/* DETAIL */
#detail {
	main {
	    flex-direction: column;
	    align-items: center;
		.container {
		    margin: 32px 0;
		}
	}
	.container {
		ul {
			margin: 0;
			padding: 0;
			.imageWrap {
				img {
				    margin-bottom: 5px;
				}
				&:first-child {
					img {
						margin-top: 5px;
					}
				}
				&:last-child {
					img {
						margin-bottom: 0;
					}
				}
			}
			ul {
				li {
					img {
						margin-bottom: 5px !important;
					}
				}
			}
		}
	}
	.mainSection {
		.imageWrap {
		    height: 200px;
		    overflow: hidden;
		}
	}
}
