
/* COLORS */
$black: #000000;
$white: #ffffff;
$orange: #ffc62e;
$blue: #049dd9;
$blue-alternative: #00cdff;

$skin: #ffdea4;
$skin-shade: #f6b483;
$hair: #9b5414;

/* VARIABLES */
$number: 13px;
$margin: 32px;
